<%= provide(:title, 'Вход в систему') %>
<h1>Вход</h1>


  <div class="center jumbotron"">
<%= form_for(:session, url: sessions_path) do |f| %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label 'Пароль' %>
<%= f.password_field :password %>
<br>
<%= f.submit 'Войти', class: "btn btn-large btn-primary" %>

    <% end %>

<p>Новый пользователь? <%= link_to "Регистрируйтесь сейчас!", signup_path %></p>

</div>
