<% provide(:title, @user.name) %>


  <aside class="span4">
    <section>
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
      <% if current_user?(User.find_by(id: params[:id])) %>
      <%= link_to "Изменить", edit_user_path(current_user) %>
          <% end %>
    </section>
  </aside>

<!-- ОФОРМИТЬ -->
<% if @picture.any? %>
<b>Загруженные изображения:</b>
    <div class="center">
<%= will_paginate (@picture), :previous_label => "«", :next_label => "»", renderer: BootstrapPagination::Rails  %>

      <div class="image_container">
  <% @picture.each do |l| %>
<div class="image_preview imagebox">
      <%= link_to image_tag(l.link.thumb.url), controller: "pictures",
                  action: "show", user_id: params[:id], id: l.id  %>
      <%#= l.description %>
</div>
  <% end %>
</div>
<%= will_paginate (@picture), :previous_label => "«", :next_label => "»", renderer: BootstrapPagination::Rails %>

<br />
<% else %>
    <b>Нет загруженных изображений</b>
<% end %>
</div>