<%= form_for(@comment, remote:true) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Разместить комментарий..." %>
      <%= f.hidden_field :pic_id, :value => @pic.id %>
    </div>
    <%= f.submit "Отправить", class: "btn btn-large btn-primary" %>
<% end %>