<%= provide(:title, 'Upload Picture') %>
<h1>Загрузить изображение</h1>
<br>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:picture, url: pictures_path, :html => {:multipart => true}) do |f|%>
<div class="well">
    <p>
      <%= f.label "Выбор изображения"%>
      <%= f.file_field :link %>
    </p>
</div>
    <br>
    <div class="well">
    <p>
      <%= f.label "Описание изображения" %>
      <%= f.text_field :description %>
    </p>
      </div>
    <br>
    <div class="well">
    <p>
          <%= f.label "Скрыть от остальных" %>
          <%= f.check_box :hidden %>
        </p>
      </div>
    <div><%= f.submit "Загрузить изображение"%></div>
    <% end %>


  </div>
</div>