<%= provide(:title, 'Upload Picture') %>
<h1>Загрузить изображение</h1>
<br>


    <%= form_for(:picture, url: pictures_path, :html => {:multipart => true}) do |f|%>
<div class="container myBox">
  <div class="row">

      <%= f.label "Выбор изображения"%>
        </div>
  <div class="row">
      <%= f.file_field :link %>
      </div>

    <div class="row">



      <%= f.label "Описание изображения" %>
        </div>
<div class="row">
      <%= f.text_field :description %>
        </div>


      <div class="row">
        <div class="col-xs-6"><%= f.label "Скрыть от всех" %></div>
          <div class="col-xs-6"><%= f.check_box :hidden %></div>

    </div>

<div class="row"><%= f.submit "Отправить"%></div>
            </div>
    <% end %>

