<%= provide(:title, 'Просмотр изображения') %>
<h1>Просмотр изображения</h1>

<div class="row">
  <!-- ======== ОФОРМИТЬ КАРТИНКУ ==========-->
  <div class="span10 offset1">
    <div class="image_container imagebox">
      <% if !@pic.prev.blank? %>


      <%= link_to "", user_picture_path(:id => @pic.prev.id, :user_id => params[:user_id]), class:"l_link_box", action: 'show', id: current_user.id %>


              <% end %>
      <% if !@pic.next.blank?  %>

      <%= link_to "", user_picture_path(:id => @pic.next.id, :user_id => params[:user_id]), class:"r_link_box", action: 'show', id: current_user.id %>

              <% end %>


      <%= image_tag(@pic.link.url)%>


    </div>
  </div>
  <% if !@pic.prev.blank? %>
 <%= link_to "", user_picture_path(:id => @pic.prev.id, :user_id => params[:user_id]), class: "left-link", action: 'show', id: current_user.id %>
  <% end %>
    <% if !@pic.next.blank? %>
      <%= link_to "", user_picture_path(:id => @pic.next.id, :user_id => params[:user_id]), class: "right-link",
                action: 'show', id: current_user.id %>
    <% end %>
  <!-- ======== ОФОРМИТЬ ОПИСАНИЕ ==========-->
  <div class="span3 description">
    <b>Описание: </b><%= @pic.description %>
  </div>

  <% if current_user?(User.find_by(id: params[:user_id])) %>
  <div class="span 3 actions">
    <b>Действия:</b>

    <button type="button" class="btn btn-link"><%= link_to "Удалить", picture_path(:id => @pic.id, :user_id => params[:user_id]), method: :delete, data: { confirm: "Вы уверены?",
                                                   id: @pic.id }, title: @pic.description %></button>

      <% end %>
  </div>

</div>

<br><br>
  <!-- ======== ОФОРМИТЬ КОММЕНТАРИИ ==========-->
<div class="row comments_form">

        <% if @pic.comments.any? %>
        <h3 id = "com_count">Количество коментариев: <%= @pic.comments.count %></h3>
          <ol class="btn-sm" id="comments">
            <%= render @pic.comments %>
          </ol>
        <% end %>

</div>
  <!-- ======== ОФОРМИТЬ ФОРМА ДЛЯ КОММЕНТАРИЕВ ==========-->
  <div class = "comments_input">
    <%= render 'shared/comment_form' %>
  </div>
